// @import url("https://fonts.googleapis.com/css2?family=Gabriela&family=Inter:wght@500&family=Poppins:wght@300;400;600;700&display=swap");

:root {
    --space: 32px;
    --padding: 32px;
    --border-radius: 24px;
    --theme-color-white: #ffffff;
    --theme-color-gray: #808191;
    --theme-color-black: #11142d;
    --theme-color-pink: #fc77a0;
    --theme-font-1: "Poppins", sans-serif;
    --theme-font-2: "Gabriela", serif;
    --theme-font-3: "Inter", sans-serif;

    @media (max-width: 767px) {
        --padding: 16px;
        --space: 16px;
    }
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--theme-font-3);
    color: var(--theme-color-black);
    box-sizing: border-box;
}

@import "~bootstrap/dist/css/bootstrap-grid.min.css";

body {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
}

.w-100 {
    width: 100%;
}

.wrapper {
}

.container {
    @media (min-width: 1700px) {
        max-width: 1600px;
    }
}

.qtranxs_widget {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100px;
    margin: auto;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;

    .language-chooser {
        display: flex;
        li {
            width: 100%;
            color: var(--theme-color-white);
            text-transform: uppercase;
            font-weight: 700;
            background-color: var(--theme-color-black);

            a {
                color: inherit;
                font-weight: inherit;
                display: block;
                padding: 5px;
                text-align: center;
            }
            &.active {
                color: var(--theme-color-black);
                background-color: #fdf7e9;

                &::marker {
                    color: var(--theme-color-gray);
                }
            }
        }
    }
}

.header__wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px var(--padding);
    margin: var(--space);
    z-index: 1000;

    .logo__wrap {
        .logo {
            width: 55px;
            height: 55px;
            border-radius: 16px;
            background-color: var(--theme-color-black);
        }
    }

    .navigation__wrap {
        .navigation {
            @media (max-width: 767px) {
                display: none;
            }
            ul {
                display: inline-block;
                list-style: none;
                li {
                    display: inline-block;
                    margin-left: 16px;
                    a {
                        display: block;
                    }
                }
            }
        }
    }
}

.footer__wrap {
}

.cover__wrap {
    padding: var(--space);
    height: 100vh;

    &--inner {
        height: 100%;
        border-radius: 20px;
        overflow: hidden;
        background-color: #fdf7e9;

        .cover--content {
            text-align: center;

            h1 {
                font-size: 100px;
                line-height: 1;

                @media (max-width: 767px) {
                    font-size: 45px;
                }

                span {
                    display: block;
                    font-size: 48px;
                    font-family: var(--theme-font-2);

                    @media (max-width: 767px) {
                        font-size: 25px;
                    }
                }
            }

            a {
                display: inline-block;
                padding: 16px;
                border-radius: 8px;
                color: var(--theme-color-black);
                border: 1px solid var(--theme-color-black);

                span {
                    color: inherit;
                    font-size: inherit;
                }
            }

            .search__wrap {
                max-width: 340px;
                overflow: hidden;
                border-radius: 10px;
                margin: auto;

                &--input {
                    padding: 12px 15px;
                    width: 100%;
                    background-color: var(--theme-color-white);

                    input {
                        border: none;
                        width: 100%;
                    }
                }
                &--button {
                    background-color: var(--theme-color-pink);
                    button {
                        border: none;
                        background-color: transparent;
                        padding: 11px 25px;

                        svg {
                            width: 20px;
                            height: 20px;
                        }
                    }
                }
            }
        }
    }
}

.cover--other__wrap {
    padding: var(--space);
    // min-height: 550px;
    padding-top: 168px;
    // height: 55vh;

    @media (max-width: 767px) {
        padding-top: 130px;
    }

    &--inner {
        height: 100%;
        min-height: 230px;
        border-radius: 20px;
        overflow: hidden;
        background-color: #e9f8fd;
        position: relative;
        padding: 16px;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;

        &.--post {
            height: 520px;
            padding-bottom: 120px;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                z-index: 0;
                background-color: rgb(0, 0, 0, 0.4);
            }

            .row,
            .post--meta {
                z-index: 1;
            }
        }

        &.--banner {
            background-color: transparent;

            .banner {
                min-height: 600px;
                background-color: #fdf7e9;

                @media (max-width: 1400px) {
                    min-height: 400px;
                }

                @media (max-width: 767px) {
                    min-height: 300px;
                }
            }
        }

        .post--title,
        .page--title {
            text-align: center;
            h1 {
                font-size: 48px;
                line-height: 1.2;
                font-weight: 600;
                color: var(--theme-color-white);

                @media (max-width: 991px) {
                    font-size: 38px;
                }

                @media (max-width: 767px) {
                    font-size: 28px;
                }
            }
        }

        .post--category {
            text-align: center;
            margin-top: 15px;
            p {
                font-size: 14px;
                // color: var(--theme-color-gray);
                color: var(--theme-color-white);
                a {
                    font-size: inherit;
                    color: var(--theme-color-pink);
                }
            }
        }

        .post--meta,
        .page--meta {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;

            .quicklinks {
                margin-bottom: 20px;
                h4 {
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 2;
                    color: var(--theme-color-white);
                }
                ul {
                    list-style: none;
                    li {
                        a {
                            font-size: 14px;
                            line-height: 2;
                        }
                    }
                }
            }

            .author {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
                margin-left: 100px;

                @media (max-width: 767px) {
                    margin-left: 15px;
                }

                &__image {
                    width: 60px;
                    height: 60px;

                    &--inner {
                        width: 100%;
                        height: 100%;
                        border-radius: 12px;
                        background-color: aqua;
                    }
                }

                &__content {
                    padding-left: 16px;
                    width: calc(100% - 60px);

                    h4 {
                        font-size: 18px;
                        font-weight: 600;
                        margin: 6px 0;
                        text-transform: capitalize;
                        color: var(--theme-color-white);
                    }

                    p {
                        font-size: 12px;
                        line-height: 1.2;
                        margin-top: 8px;
                        // color: var(--theme-color-black);
                        color: var(--theme-color-white);
                    }

                    &--btn {
                        padding: 8px 12px;
                        border-radius: 25px;
                        color: #377dff;
                        font-weight: 600;
                        font-size: 12px;
                        background-color: #e5f1ff;
                        margin-left: 15px;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.content__wrap {
    margin: 50px 0;

    @media (max-width: 991px) {
        margin: 35px 0;
    }

    @media (max-width: 767px) {
        margin: 25px 0;
    }

    &--post__content {
        padding: 0 30px;

        @media (max-width: 767px) {
            padding: 0 15px;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 32px;
            line-height: 1.8;
            font-weight: 600;
        }

        p {
            font-size: 18px;
            line-height: 1.8;
            margin: 20px 0;
            font-weight: 300;
        }

        .wp-block-image {
            margin: 16px 0;
            .aligncenter {
                text-align: center;
            }
        }
    }

    &--tag__content {
        padding: 0 30px;

        @media (max-width: 767px) {
            padding: 0 15px;
        }

        ul {
            li {
                display: inline-block;
                a {
                    display: block;
                    padding: 8px 10px;
                    color: var(--theme-color-gray);
                    background-color: #eaeaea;
                    font-size: 12px;
                    border-radius: 3px;
                }
            }
        }
    }

    &--respond__content {
        padding: 0 30px;

        @media (max-width: 767px) {
            padding: 0 15px;
        }
    }

    &--follow__content {
        padding: 0 30px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

        @media (max-width: 767px) {
            padding: 0 15px;
        }
    }
}

.card {
    padding: var(--padding);
    background-color: var(--theme-color-white);
    border-radius: var(--border-radius);

    &.transparent {
        background-color: transparent;
        padding: var(--padding) 0;
    }

    &--margin__bottom {
        margin-bottom: 35px;
    }

    &__title {
        margin-bottom: 24px;

        h4 {
            text-transform: uppercase;
            font-size: 14px;
        }
    }
    &__body {
    }
}

.article {
    display: flex;
    align-items: center;

    &:first-child {
        margin-top: 0 !important;
    }
    &:last-child {
        margin-bottom: 0 !important;
    }

    &--small {
        align-items: flex-start;
        margin: 40px 0;

        &:last-child {
            margin-bottom: 40px !important;
        }
    }

    &--medium {
        margin: 35px 0;
    }

    &--large {
        align-items: flex-start;
        margin: 20px 0;
    }

    &__icon {
        width: 30px;
        height: 30px;
        margin-top: 10px;

        &--inner {
            width: 100%;
            height: 100%;
            border-radius: 6px;
            background-color: aqua;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
    }

    &__image {
        /*
            Small Card Image
        */
        &--small {
            width: 40px;
            height: 40px;
        }
        /*
            Medium Card Image
        */
        &--medium {
            width: 80px;
            height: 80px;
        }
        /*
            Large Card Image
        */
        &--large {
            width: 170px;
            height: 140px;

            @media (max-width: 767px) {
                width: 120px;
            }
        }

        &--inner {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background-color: aqua;
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: cover;
        }
    }

    &__content {
        padding-left: 16px;

        h4 {
            a {
                font-size: inherit;
                line-height: inherit;
                font-weight: inherit;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
            }
        }

        /*
            Small Card Content
        */
        &--small {
            width: calc(100% - 40px);

            h4 {
                font-size: 14px;
                font-weight: 500;
                margin-bottom: 5px;
                line-height: 1.2;
                height: calc(14px * 2 * 1.2);
                overflow: hidden;
                font-family: var(--theme-font-3);
            }

            p {
                font-size: 10px;
                color: var(--theme-color-gray);

                a {
                    font-size: inherit;
                    color: var(--theme-color-pink);
                }

                span {
                    font-size: inherit;
                    color: inherit;
                }
            }
        }

        /*
            Medium Card Content
        */
        &--medium {
            width: calc(100% - 80px);
            h4 {
                font-size: 16px;
                font-weight: 600;
                margin-bottom: 10px;
                line-height: 1.2;
                height: calc(16px * 2 * 1.2);
                overflow: hidden;
            }

            p {
                font-size: 12px;
                color: var(--theme-color-gray);

                a {
                    font-size: 10px;
                    color: var(--theme-color-pink);
                }

                span {
                    font-size: 10px;
                    color: inherit;
                }
            }
        }

        /*
            Large Card Content
        */
        &--large {
            width: calc(100% - 200px);
            padding-right: 16px;

            @media (max-width: 767px) {
                width: calc(100% - 150px);
            }

            h4 {
                font-size: 18px;
                margin: 5px 0;
                font-weight: 600;
                line-height: 1.2;
                height: calc(18px * 2 * 1.2);
                overflow: hidden;
            }

            p {
                font-size: 12px;
                margin: 10px 0;
                line-height: 1.2;
                color: var(--theme-color-gray);

                &.excerpt {
                    overflow: hidden;
                    line-height: 1.3;
                    height: calc(12px * 2 * 1.3);
                }

                a {
                    font-size: inherit;
                    color: var(--theme-color-pink);
                }

                span {
                    font-size: inherit;
                    color: inherit;
                }
            }
        }
    }
}

.catgeory {
    display: flex;
    align-items: center;
    margin: 26px 0;

    &:first-child {
        margin-top: 0 !important;
    }
    &:last-child {
        margin-bottom: 0 !important;
    }

    &__icon {
        width: 48px;
        height: 48px;

        &--inner {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background-color: aqua;
        }
    }

    &__content {
        padding-left: 16px;
        width: calc(100% - 48px);

        h4 {
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 6px;
        }

        p {
            font-size: 14px;
            color: var(--theme-color-gray);

            span {
                font-size: inherit;
                color: inherit;
            }
        }
    }
}

.follow {
    display: flex;
    align-items: center;
    margin: 60px 0;

    &__image {
        width: 72px;
        height: 72px;

        &--inner {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            background-color: aqua;
        }
    }

    &__content {
        padding-left: 16px;
        width: calc(100% - 72px);

        h4 {
            font-size: 18px;
            font-weight: 600;
            margin: 6px 0;
            text-transform: capitalize;
        }

        p {
            font-size: 12px;
            line-height: 1.2;
            color: var(--theme-color-gray);
            height: calc(12px * 1 * 1.2);
            overflow: hidden;

            span {
                font-size: inherit;
                color: inherit;
                text-transform: uppercase;
            }
        }

        &--btn {
            padding: 8px 12px;
            border-radius: 25px;
            color: #377dff;
            font-weight: 600;
            font-size: 12px;
            background-color: #e5f1ff;
        }
    }
}
